name: CI

on:
  pull_request:
    branches: [develop]

  push:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node Js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - run: npm ci
      

      - name: build project
        if: github.event_name == 'push'
        run: npm run build


      - name: deploy project
        if: github.event_name == 'push'
        run: npx surge --project ./build --domain uashok-machinenis.surge.sh
        env:
          SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
      